FORMAT: 1A
HOST: http://private-d97679-greekmyths.apiary-mock.com/

# greekmyths

Greek Mythlogy is a simple API that allows people to navigate through our greek mythology database. They will find information
regarding the gods, heroes, myths, and locations of greek mythology.

## God Collection [/gods]

### List All Gods [GET]

+ Response 200 (application/json)

        [  
           {  
              "name":"Aphrodite",
              "romanname":"Venus",
              "power":"Love, beauty, procreation",
              "symbol":"Eros (winged godling), conch-shell",
              "father":"Zeus",
              "mother":"Dione"
           },
           {  
              "name":"Apollo",
              "romanname":"Apollo",
              "power":"Music, prophecy, healing, archery",
              "symbol":"Lyre, bow",
              "father":"Zeus",
              "mother":"Leto"
           },
           {  
              "name":"Ares",
              "romanname":"Mars",
              "power":"War, courage, battlelust",
              "symbol":"Helm",
              "father":"Zeus",
              "mother":"Hera"
           },
           {  
              "name":"Artemis",
              "romanname":"Diana",
              "power":"Hunting, wild animals, children",
              "symbol":"Bow and arrows",
              "father":"Zeus",
              "mother":"Leto"
           },
           {  
              "name":"Athena",
              "romanname":"Minerva",
              "power":"Wisdom, war, weaving, crafts",
              "symbol":"Aegis, gorgoneion",
              "father":"Zeus",
              "mother":"Metis"
           },
           {  
              "name":"Demeter",
              "romanname":"Ceres",
              "power":"Grain, bread, agriculture",
              "symbol":"Sheaf of grain, cornucopia",
              "father":"Cronus",
              "mother":"Rhea"
           },
           {  
              "name":"Dionysus",
              "romanname":"Liber",
              "power":"Wine, festivity, madness",
              "symbol":"Thyrsus (pine-cone staff)",
              "father":"Zeus",
              "mother":"Semele"
           },
           {  
              "name":"Hephaestus",
              "romanname":"Vulcan",
              "power":"Smiths, fire, metalworking",
              "symbol":"Hammer & tongs",
              "father":"None",
              "mother":"Hera"
           },
           {  
              "name":"Hera",
              "romanname":"Juno",
              "power":"Marriage, sky, queen of the gods",
              "symbol":"Royal sceptre",
              "father":"Cronus",
              "mother":"Rhea"
           },
           {  
              "name":"Hermes",
              "romanname":"Mercurius, Mercury",
              "power":"Herds, trade, thievery, athletics, messengers",
              "symbol":"Caduceus (herald's wand)",
              "father":"Zeus",
              "mother":"Maia"
           },
           {  
              "name":"Poseidon",
              "romanname":"Neptune, ",
              "power":"King of the Sea, earthquakes, floods, horses",
              "symbol":" Trident, Bull, horse, dolphin",
              "father":"Cronus",
              "mother":"Rhea"
           },
           {  
              "name":"Zeus",
              "romanname":"Jupiter",
              "power":"Sky, weather, kings, fate",
              "symbol":"Lightning bolt, eagle, bull",
              "father":"Cronus",
              "mother":"Rhea"
           },
           {  
              "name":"Asclepius",
              "romanname":"Aesculapius",
              "power":"Medicine, doctors",
              "symbol":"Serpent-entwined staff",
              "father":"Apollo",
              "mother":"Coronis"
           },
           {  
              "name":"Charites",
              "romanname":"Gratiae",
              "power":"Grace, joy, mirth, beauty, glory, dance",
              "symbol":"None",
              "father":"Zeus",
              "mother":"Eurynome"
           },
           {  
              "name":"Eileithyia",
              "romanname":"Lucina",
              "power":"Childbirth",
              "symbol":"Torch",
              "father":"Zeus",
              "mother":"Hera"
           },
           {  
              "name":"Eros",
              "romanname":"Cupid, Amor",
              "power":"Love, sexual desire",
              "symbol":"Bow",
              "father":"arrow",
              "mother":"Aphrodite"
           },
           {  
              "name":"Hebe",
              "romanname":"Juventas",
              "power":"Youth, brides",
              "symbol":"Cup, pitcher",
              "father":"Zeus",
              "mother":"Hera"
           },
           {  
              "name":"Hestia",
              "romanname":"Vesta",
              "power":"Hearth, home",
              "symbol":"Kettle",
              "father":"Cronus",
              "mother":"Rhea"
           },
           {  
              "name":"Horae",
              "romanname":"Dike, Eunomia, Irene",
              "power":"The seasons, natural order",
              "symbol":"Fruit",
              "father":"Zeus",
              "mother":"Themis"
           },
           {  
              "name":"Hygeia",
              "romanname":"Salus",
              "power":"Good health",
              "symbol":"Snake",
              "father":"Asclepius",
              "mother":"Epione"
           },
           {  
              "name":"Iris",
              "romanname":"Iris, Arcus",
              "power":"The rainbow, messenger of the gods",
              "symbol":"Herald's wand",
              "father":"Thaumas",
              "mother":"Electra"
           },
           {  
              "name":"Leto",
              "romanname":"Latona",
              "power":"Motherhood, demureness",
              "symbol":"Veil",
              "father":"Coeus",
              "mother":"Phoebe"
           },
           {  
              "name":"Moirae",
              "romanname":"Parcae, Fatae",
              "power":"Fate, destiny",
              "symbol":"Spindle,thread, shears",
              "father":"Zeus",
              "mother":"Themis"
           },
           {  
              "name":"Muses",
              "romanname":"Musae",
              "power":"Music, poetry, the arts",
              "symbol":"Lyre, cithara, flute",
              "father":"Zeus",
              "mother":"Mnemosyne"
           },
           {  
              "name":"Nike",
              "romanname":"Victoria",
              "power":"Victory",
              "symbol":"Palm branch, wings",
              "father":"Pallas",
              "mother":"Styx"
           },
           {  
              "name":"Themis",
              "romanname":"Themis",
              "power":"Divine law, custom, assemblies, oracles",
              "symbol":"Tripod",
              "father":"Uranus",
              "mother":"Gaea"
           },
           {  
              "name":"Tyche",
              "romanname":"Fortuna",
              "power":"Fortune, luck",
              "symbol":"Cornucopia, rudder",
              "father":"Oceanus",
              "mother":"Tethys"
           },
           {  
              "name":"Atlas",
              "romanname":"Atlas",
              "power":"Bearer of the heavens, astronomy",
              "symbol":"Celestial sphere",
              "father":"Iapetus",
              "mother":"Clymene"
           },
           {  
              "name":"Cronus",
              "romanname":"Saturnus, Saturn",
              "power":"Time, king of the Titans",
              "symbol":"Sickle",
              "father":"Uranus",
              "mother":"Gaea"
           },
           {  
              "name":"Mnemosyne",
              "romanname":"Moneta",
              "power":"Memory",
              "symbol":"Mount Pieria",
              "father":"Uranus",
              "mother":"Gaea"
           },
           {  
              "name":"Oceanus",
              "romanname":"Oceanus",
              "power":"River Oceanus, fresh water",
              "symbol":"Serpent, fish",
              "father":"Uranus",
              "mother":"Gaea"
           },
           {  
              "name":"Prometheus",
              "romanname":"Prometheus",
              "power":"Forethought, crafty counsel",
              "symbol":"None",
              "father":"Iapetus",
              "mother":"Clymene"
           },
           {  
              "name":"Rhea",
              "romanname":"Ops, Opis",
              "power":"Mother of the gods, mountains",
              "symbol":"Turret crown, cymbal",
              "father":"Uranus",
              "mother":"Gaea"
           },
           {  
              "name":"Tethys",
              "romanname":"Tethys",
              "power":"Fresh water, nursing",
              "symbol":"Winged brow",
              "father":"Uranus",
              "mother":"Gaea"
           },
           {  
              "name":"Asteria",
              "romanname":"Asteria",
              "power":"Shooting stars, nighttime divination",
              "symbol":"None",
              "father":"Coeus",
              "mother":"Phoebe"
           },
           {  
              "name":"Eos",
              "romanname":"Aurora",
              "power":"The dawn",
              "symbol":"None",
              "father":"Hyperion",
              "mother":"Thea"
           },
           {  
              "name":"Hecate",
              "romanname":"Trivia",
              "power":"Witchcraft, magic, ghosts",
              "symbol":"Two torches",
              "father":"Perses",
              "mother":"Asteria"
           },
           {  
              "name":"Helius",
              "romanname":"Sol",
              "power":"The sun, sight",
              "symbol":"Aureole",
              "father":"Hyperion",
              "mother":"Thea"
           },
           {  
              "name":"Selene",
              "romanname":"Luna",
              "power":"The moon",
              "symbol":"Lunar disc or crescent, bull's horns",
              "father":"Hyperion",
              "mother":"Thea"
           },
           {  
              "name":"Ananke",
              "romanname":"Necessitas",
              "power":"Necessity, compulsion",
              "symbol":"Torch",
              "father":"Hydros",
              "mother":"Gaea"
           },
           {  
              "name":"Chronos Aeon",
              "romanname":"Chronos Aeon",
              "power":"Time, eternity",
              "symbol":"Zodiac-wheel",
              "father":"Hydros",
              "mother":"Gaea"
           },
           {  
              "name":"Gaea",
              "romanname":"Terra, Tellus",
              "power":"The earth",
              "symbol":"Fruit and grain",
              "father":"None",
              "mother":"None"
           },
           {  
              "name":"Hemera",
              "romanname":"Dies",
              "power":"The day",
              "symbol":"None",
              "father":"Erebus",
              "mother":"Nyx"
           },
           {  
              "name":"Nyx",
              "romanname":"Nox",
              "power":"The night",
              "symbol":"None",
              "father":"None",
              "mother":"Chaos"
           },
           {  
              "name":"Ourea",
              "romanname":"Montes",
              "power":"The mountains",
              "symbol":"None",
              "father":"None",
              "mother":"Gaea"
           },
           {  
              "name":"Pontus",
              "romanname":"Pontus",
              "power":"The sea",
              "symbol":"None",
              "father":"None",
              "mother":"Gaea"
           },
           {  
              "name":"Thalassa",
              "romanname":"Mare",
              "power":"The sea",
              "symbol":"None",
              "father":"Aether",
              "mother":"Hemera"
           },
           {  
              "name":"Uranus",
              "romanname":"Caelum",
              "power":"The sky, the starry heavens",
              "symbol":"Zodiac wheel",
              "father":"None",
              "mother":"Gaea"
           },
           {  
              "name":"Cerberus",
              "romanname":"Cerberus",
              "power":"Death, darkness",
              "symbol":"Three-headed dog, mane of serpents",
              "father":"Typhoeus",
              "mother":"Echidna"
           },
           {  
              "name":"Charon",
              "romanname":"Charon",
              "power":"Ferryman of the Dead",
              "symbol":"Skiff",
              "father":"Erebus",
              "mother":"Nyx"
           },
           {  
              "name":"Erinyes",
              "romanname":"Furiae, Dirae",
              "power":"Vengeance, retribution",
              "symbol":"Vipers",
              "father":"Gaea",
              "mother":"the blood of Uranus"
           },
           {  
              "name":"Hades",
              "romanname":"Pluto, Dis, Orcus",
              "power":"The dead, king of the underworld",
              "symbol":"Royal sceptre, cornucopia",
              "father":"Cronus",
              "mother":"Rhea"
           },
           {  
              "name":"Hypnos",
              "romanname":"Somnus, Sopor",
              "power":"Sleep",
              "symbol":"None",
              "father":"None",
              "mother":"Nyx"
           },
           {  
              "name":"Persephone",
              "romanname":"Proserpina",
              "power":"Spring, queen of the underworld",
              "symbol":"Torch",
              "father":"Zeus",
              "mother":"Demeter"
           },
           {  
              "name":"Thanatos",
              "romanname":"Mors, Letum",
              "power":"Death",
              "symbol":"Sword",
              "father":"None",
              "mother":"Nyx"
           },
           {  
              "name":"Amphitrite",
              "romanname":"Salacia",
              "power":"The sea, fish, shellfish",
              "symbol":"Fish, dolphin",
              "father":"Nereus",
              "mother":"Thetis"
           },
           {  
              "name":"Galatea",
              "romanname":"Galatea",
              "power":"Calm seas",
              "symbol":"None",
              "father":"Nereus",
              "mother":"Doris"
           },
           {  
              "name":"Ichthyocentaurs",
              "romanname":"Aphros, Bythos",
              "power":"Sea-foam, sea-depths",
              "symbol":"None",
              "father":"Cronus",
              "mother":"Philyra"
           },
           {  
              "name":"Leucothea",
              "romanname":"Mater, Matuta",
              "power":"Protector of sailors",
              "symbol":"None",
              "father":"Cadmus",
              "mother":"Harmonia"
           },
           {  
              "name":"Nereids",
              "romanname":"Nereids",
              "power":"The sea, fish",
              "symbol":"Dolphin",
              "father":"Nereus",
              "mother":"Doris"
           },
           {  
              "name":"Nereus",
              "romanname":"Nereus",
              "power":"Fish",
              "symbol":"Fish",
              "father":"Pontus",
              "mother":"Gaea"
           },
           {  
              "name":"Palaemon",
              "romanname":"Portunus",
              "power":"Protector of sailors",
              "symbol":"Dolphin",
              "father":"Athamas",
              "mother":"Ino"
           },
           {  
              "name":"Phorcys",
              "romanname":"Phorcys",
              "power":"Sea dangers",
              "symbol":"None",
              "father":"Pontus",
              "mother":"Gaea"
           },
           {  
              "name":"Scylla",
              "romanname":"Scylla",
              "power":"Tear, Rend",
              "symbol":"Nome",
              "father":"None",
              "mother":"Crataeis"
           },
           {  
              "name":"Sirens",
              "romanname":"Sirens",
              "power":"Bodies of birds, heads of women",
              "symbol":"None",
              "father":"Achelous",
              "mother":"Melpomene"
           },
           {  
              "name":"Thetis",
              "romanname":"Thetis",
              "power":"The sea, leader of the Nereides",
              "symbol":"None",
              "father":"Nereus",
              "mother":"Doris"
           },
           {  
              "name":"Triton",
              "romanname":"Triton",
              "power":"Waves, calm seas, herald of Poseidon",
              "symbol":"Conch shell",
              "father":"Poseidon",
              "mother":"Amphitrite"
           },
           {  
              "name":"Anemoi",
              "romanname":"Venti",
              "power":"The winds",
              "symbol":"None",
              "father":"Astraeus",
              "mother":"Eos"
           },
           {  
              "name":"Aurae",
              "romanname":"Aurae",
              "power":"Breezes",
              "symbol":"None",
              "father":"Oceanus",
              "mother":"Boreas"
           },
           {  
              "name":"Boreas",
              "romanname":"Aquilo",
              "power":"The north wind, winter",
              "symbol":"None",
              "father":"Astraeus",
              "mother":"Eos"
           },
           {  
              "name":"Harpies",
              "romanname":"Harpies",
              "power":"Storm winds, whirlwinds",
              "symbol":"None",
              "father":"Thaumas",
              "mother":"Electra"
           },
           {  
              "name":"Hesperides",
              "romanname":"Hesperides",
              "power":"Evening, sunsets",
              "symbol":"Golden apple",
              "father":"Atlas",
              "mother":"Nyx"
           },
           {  
              "name":"Zephyrus",
              "romanname":"Zephyrus, Favonius",
              "power":"The west wind, spring",
              "symbol":"None",
              "father":"Astraeus",
              "mother":"Eos"
           },
           {  
              "name":"Ariadne",
              "romanname":"Libera",
              "power":"Crown",
              "symbol":"Most Holy",
              "father":"Minos",
              "mother":"Pasiphae"
           },
           {  
              "name":"Chiron",
              "romanname":"Chiron",
              "power":"Teaching, surgeons",
              "symbol":"None",
              "father":"Cronus",
              "mother":"Philyra"
           },
           {  
              "name":"Curetes & Dactyls",
              "romanname":"Curetes & Dactyls",
              "power":"The war dance, metalworking",
              "symbol":"Shield",
              "father":"None",
              "mother":"Gaea"
           },
           {  
              "name":"Naiads",
              "romanname":"Naiads",
              "power":"Fresh water, springs, fountains",
              "symbol":"Water-pitcher",
              "father":"None",
              "mother":"The Potamoi"
           },
           {  
              "name":"Nymphs",
              "romanname":"Nymphs",
              "power":"Nature",
              "symbol":"None",
              "father":"Zeus",
              "mother":"Gaea"
           },
           {  
              "name":"Pan",
              "romanname":"Faunus",
              "power":"Shepherds, hunters, mountain forests and meadows",
              "symbol":"Panpipes",
              "father":"Hermes",
              "mother":"Penelope"
           },
           {  
              "name":"Potamoi",
              "romanname":"Flumina, Amnes",
              "power":"The rivers",
              "symbol":"Water-pitcher, cornucopia",
              "father":"Oceanus",
              "mother":"Tethys"
           },
           {  
              "name":"Priapus",
              "romanname":"Mutunus",
              "power":"Vegetable gardens",
              "symbol":"Basket of vegetables",
              "father":"Dionysus",
              "mother":"Aphrodite"
           },
           {  
              "name":"Satyrs",
              "romanname":"Fauns",
              "power":"Fertility",
              "symbol":"Wineskin, drinking-horn, double-flute",
              "father":"Silenus",
              "mother":"Various"
           },
           {  
              "name":"Silenus",
              "romanname":"Silenus",
              "power":"Drunkenness, wine-making",
              "symbol":"None",
              "father":"None",
              "mother":"Gaea"
           },
           {  
              "name":"Plutus",
              "romanname":"Plutus",
              "power":"Wealth, agricultural bounty",
              "symbol":"Cornucopia",
              "father":"Iasion",
              "mother":"Demeter"
           },
           {  
              "name":"Triptolemus",
              "romanname":"Triptolemus",
              "power":"Sowing, milling",
              "symbol":"Winged chariot",
              "father":"Celeus",
              "mother":"Metanira"
           },
           {  
              "name":"Dike",
              "romanname":"Justicia",
              "power":"Justice",
              "symbol":"None",
              "father":"Zeus",
              "mother":"Themis"
           },
           {  
              "name":"Eris",
              "romanname":"Discordia",
              "power":"Strife, discord",
              "symbol":"None",
              "father":"None",
              "mother":"Nyx"
           },
           {  
              "name":"Geras",
              "romanname":"Senectus",
              "power":"Old age",
              "symbol":"None",
              "father":"None",
              "mother":"Nyx"
           },
           {  
              "name":"Lyssa",
              "romanname":"Ira, Furor",
              "power":"Mad rage, fury, crazed frenzy",
              "symbol":"None",
              "father":"None",
              "mother":"Nyx"
           },
           {  
              "name":"Nemesis",
              "romanname":"Nemesis, Rivalitas",
              "power":"Retribution, indignation",
              "symbol":"Sword, lash",
              "father":"None",
              "mother":"Nyx"
           },
           {  
              "name":"Peitho",
              "romanname":"Suada, Suadela",
              "power":"Persuasion, seduction",
              "symbol":"Ball of twine",
              "father":"Oceanus",
              "mother":"Tethys"
           },
           {  
              "name":"Deimos & Phobos",
              "romanname":"Metus, Pavor, Terror",
              "power":"Fear, panic, terror",
              "symbol":"None",
              "father":"Ares",
              "mother":"Aphrodite"
           },
           {  
              "name":"Poena",
              "romanname":"Poena, Poenae, Ultio",
              "power":"Vengeance, retribution",
              "symbol":"None",
              "father":"Aither",
              "mother":"Gaia"
           },
           {  
              "name":"Pothos",
              "romanname":"Pothos",
              "power":"Sexual longing, yearning",
              "symbol":"None",
              "father":"None",
              "mother":"Aphrodite"
           },
           {  
              "name":"Soteria",
              "romanname":"Salus",
              "power":"Safety and Deliverance",
              "symbol":"None",
              "father":"Zeus",
              "mother":"Dionysus"
           },
           {  
              "name":"Dioscuri",
              "romanname":"Castor, Pollux",
              "power":"Horsemanship, St. Elmo's fire",
              "symbol":"None",
              "father":"Zeus, Tyndareus",
              "mother":"Leda"
           },
           {  
              "name":"Ganymede",
              "romanname":"Ganymede, Catamitus",
              "power":"Cupbearer of the gods",
              "symbol":"Pitcher, hoop",
              "father":"Tros",
              "mother":"Callirhoe"
           },
           {  
              "name":"Psyche",
              "romanname":"Psyche",
              "power":"The soul",
              "symbol":"Butterfly",
              "father":"None",
              "mother":"None"
           },
           {  
              "name":"Thaumas",
              "romanname":"Thaumas",
              "power":"Sea",
              "symbol":"None",
              "father":"Pontus",
              "mother":"Gaea"
           }
        ]


## Hero Collection [/heroes]

### List All Heroes [GET]

+ Response 200 (application/json)

        [  
           {  
              "name":"Atlanta",
              "hero_type":"Demigod",
              "father":"Iasus",
              "mother":"Clymene",
              "power":"Hunting",
              "home":"Arcadia"
           },
           {  
              "name":"Bellerophon",
              "hero_type":"Demigod",
              "father":"Poseidon",
              "mother":"Eurynome",
              "power":"Spear",
              "home":"Lycia"
           },
           {  
              "name":"Callisto",
              "hero_type":"Human",
              "father":"Lycaon",
              "mother":"Nonacris",
              "power":"Became Ursa Major (Bear)",
              "home":"Arcadia"
           },
           {  
              "name":"Danae",
              "hero_type":"Human",
              "father":"Acrisius",
              "mother":"Eurydice",
              "power":"N/A",
              "home":"Island of Seriphus"
           },
           {  
              "name":"Endymion",
              "hero_type":"Human",
              "father":"Aethlius",
              "mother":"Calyce",
              "power":"Immortality and Youth",
              "home":"Caria"
           },
           {  
              "name":"Heracles",
              "hero_type":"Demigod",
              "father":"Zeus",
              "mother":"Alcmene",
              "power":"Superhuman Strength",
              "home":"Thebes"
           },
           {  
              "name":"Hyacinthus",
              "hero_type":"Human",
              "father":"Amyclas",
              "mother":"Diomede",
              "power":"Became a Flower",
              "home":"Laconia"
           },
           {  
              "name":"Io",
              "hero_type":"Nymph",
              "father":"Inachus",
              "mother":"Melia",
              "power":"Became a Cow",
              "home":"Argolis"
           },
           {  
              "name":"Leda",
              "hero_type":"Human",
              "father":"Thestius",
              "mother":"Eurythemis",
              "power":"Lays Eggs",
              "home":"Sparta"
           },
           {  
              "name":"Pandora",
              "hero_type":"Human",
              "father":"Crafted from Clay by gods",
              "mother":"N/A",
              "power":"Beauty and Cunning",
              "home":"Thessaly"
           },
           {  
              "name":"Pelops",
              "hero_type":"Human",
              "father":"Tantalus",
              "mother":"Dione",
              "power":"Came back from the dead",
              "home":"Pisa in Elis"
           },
           {  
              "name":"Penthesilea",
              "hero_type":"Demigod",
              "father":"Ares",
              "mother":"Otrera",
              "power":"Supernatural strength and agility",
              "home":"Thermodon"
           },
           {  
              "name":"Perseus",
              "hero_type":"Demigod",
              "father":"Zeus",
              "mother":"Danae",
              "power":"Supernatural strength and agility",
              "home":"Argolis"
           },
           {  
              "name":"Pygmalion",
              "hero_type":"Demigod",
              "father":"Poseidon",
              "mother":"NA",
              "power":"King and Sculptor",
              "home":"Cyprus"
           },
           {  
              "name":"Pyrrha",
              "hero_type":"Human",
              "father":"Epimetheus",
              "mother":"Pandora",
              "power":"Queen",
              "home":"Thessaly"
           },
           {  
              "name":"Cycnus",
              "hero_type":"Demigod",
              "father":"Poseidon",
              "mother":"Calyce",
              "power":"N/A",
              "home":"Troad"
           },
           {  
              "name":"Tyro",
              "hero_type":"Human",
              "father":"Salmoneus",
              "mother":"Alcidice",
              "power":"Beauty",
              "home":"Iolcus"
           },
           {  
              "name":"Achilles",
              "hero_type":"Demigod",
              "father":"Peleus",
              "mother":"Thetis",
              "power":"Strength and Agility",
              "home":"Thessaly"
           },
           {  
              "name":"Actaeon",
              "hero_type":"Demigod",
              "father":"Aristaeus",
              "mother":"Autonoe",
              "power":"Hunter",
              "home":"Boeotia"
           },
           {  
              "name":"Aeneas",
              "hero_type":"Demigod",
              "father":"Anchises",
              "mother":"Aphrodite",
              "power":"Strength and Beauty",
              "home":"Troy"
           },
           {  
              "name":"Castor",
              "hero_type":"Demigod",
              "father":"Tyndareus",
              "mother":"Leda",
              "power":"Horseman and Archery",
              "home":"Sparta"
           },
           {  
              "name":"Pollux",
              "hero_type":"Human",
              "father":"Tyndareus",
              "mother":"Leda",
              "power":"Horseman and Archery",
              "home":"Sparta"
           },
           {  
              "name":"Jason",
              "hero_type":"Human",
              "father":"Aeson",
              "mother":"N/A",
              "power":"Blessed by Hera and Golden Fleece",
              "home":"Iolcus"
           },
           {  
              "name":"Meleager",
              "hero_type":"Human",
              "father":"Oeneus",
              "mother":"Althaea",
              "power":"Strength and Bravery",
              "home":"Calydon"
           },
           {  
              "name":"Odysseus",
              "hero_type":"Human",
              "father":"Laertes",
              "mother":"Anticleia",
              "power":"Clever and Quick Mind",
              "home":"Ithaca"
           },
           {  
              "name":"Peleus",
              "hero_type":"Demigod",
              "father":"Aeacus",
              "mother":"Endeis",
              "power":"Magical Sword",
              "home":"Aegina"
           },
           {  
              "name":"Theseus",
              "hero_type":"Demigod",
              "father":"Poseidon",
              "mother":"Aethra",
              "power":"Strength, Courage, and Wisdom",
              "home":"Athens"
           }
        ]

## Myth Collection [/myths]

### List All Myths [GET]

+ Response 200 (application/json)

        [  
           {  
              "name":"The Myth of Sisyphus",
              "description":"Sisyphus was known as the craftiest man in Greek Mythology. He cheated Death, Thanatos, by cuffing him with eternal chains inside his home and escaped from the underworld by tricking Persephone, the queen of the underworld. The famous punishment that was given to him was that Sisyphus would have to roll a boulder to the top of a hill, only for it to roll down once he would get close.",
              "gods":"Sisyphus",
              "characters":"Persephone,Thanatos",
              "place":"Corinth",
              "theme":"Crime against the Gods"
           },
           {  
              "name":"Ursa Major",
              "description":"Zeus was smittened by a mortal by the name of Callisto. While walking together in the mountains, Hera, the wife of Zeus, knew that he was up to something with another woman. Seeing her come, Zeus changed Callisto in a bear. After Hera reached Zeus, she forced him to go back to Mount Olympus. Callisto dies by the hand of her son, Arcas, who mistook her as a bear. To ask for forgiveness, Zeus places Callisto in the sky as the Big Dipper, and places her son as the Little Dipper.",
              "gods":"Zeus, Hera",
              "characters":"Callisto, Arcas",
              "place":"Arcadia",
              "theme":"Love and Jealously"
           },
           {  
              "name":"The Myth of Tantalus",
              "description":"Tantalus invited the gods of Olympus to dine with him in home. To either test the gods or because lack of food, Tantalus killed and cooked his son Pelops, and presented it to the gods. Although most gods knew that it his son, Demeter took a bite of Pelop's shoulder. Enraged, Zeus crushed him on the mountain and destroyed everything Tantalus owned, including his kingdom. Tantalus was sent to Tartarus, the deepest region in the Underworld, where he was given an eternal punishment. Tantalus was placed under a fruit tree and in the middle of a lake. Anytime he would go down to get a drink of water, the water would recede, and anytime he would reach up for fruit, the branches would move away. Pelops was revived later by the gods and his arm was replaced with ivory.",
              "gods":"Zeus,Demeter",
              "characters":"Tantalus,Pelops",
              "place":"Lydia",
              "theme":"Crime against the Gods"
           },
           {  
              "name":"The Myth of Pygmalion and Galatea",
              "description":"Pygmalion was a sculptor who disdained women because of seeing prostitutes. He decided to instead sculpt a woman and named the statue Galatea. As he sculpted the statue more and more, it became so beautiful that he fell in love with it. After sacrificing a bull to Aphrodite, the god of love, turned Galatea into an actual woman. Grateful to Aphrodite, Pygmalion and Galatea continued to make offerings to her and both of them were blessed with love and happiness.",
              "gods":"Aphrodite",
              "characters":"",
              "place":"Pygmalion,GalateaCyprus",
              "theme":"Love"
           },
           {  
              "name":"Odysseus and the Cyclops",
              "description":"Odysseus, a hero from the Trojan War, was returning home on a ship. During his sea travels, he noticed an island where sheep were making noises. Hungry, Odysseus and his crew went on the island to find food. It was an island filled with cyclops and a certain cyclops, Polyphemus, found Odysseus and his crew and trapped them inside his cave to eat them. After a while, Odysseus figured out a plan to trick Polyphemus into letting them out, and rowed away to safety.",
              "gods":"None",
              "characters":"Odysseus,Polyphemus",
              "place":"Sicily",
              "theme":"Leadership and Wits"
           },
           {  
              "name":"The Myth of Hades and Persephone",
              "description":"Hades, the god of the underworld, fell in love with Persephone, the daughter of Demeter. Hades consulted Zeus for help on how to get her. They both decided on trapping Persephone by causing the ground beneath her to split open into the underworld. After much time with Hades, Persephone eventually became happy with him.",
              "gods":"Hades,Zeus,Persephone",
              "characters":"None",
              "place":"Underworld",
              "theme":"Love and Abduction"
           },
           {  
              "name":"The Myth of Aphrodite and Adonis",
              "description":"Adonis was the child of Cinryus and Myrrha. Aphrodite was jealous of Myrrha's beauty so she made Cinryus fall in love with Myrrha, who is his daugther, and together they created Adonis. Angry of Aphrodite's use of her power, Cinryus was going to kill Myrrha and Adonis. Recognizing her wrong actions, she turned Myrrha into a myrrh tree and took Adonis to be hidden by Persephone, the queen of the underworld. Captivated by Adonis' beauty, both Aphrodite and Peresephone fought for his custody. Zeus came and it was agreed that Adonis would stay on Earth with Aphrodite for half the year and the other half of the year, he would stay in the underworld with Peresephone.",
              "gods":"Aphrodite,Persephone,Zeus",
              "characters":"Adonis,Myrrha,Cinryus",
              "place":"Cyprus,Underworld",
              "theme":"Love and Lust"
           },
           {  
              "name":"The Myth of Halcyon",
              "description":"Halcyon was the daughter of Aelous, the ruler of the winds. She was married to Ceyx, the king of Tachis. Their love was known throughout the greek world, so much that the gods would sometimes hear them call themselves Zeus and Hera. Ceyx eventually had to go visit the oracle in Delphi, traveling there by boat. Even with Halcyon's fear of the sea, Ceyx went and was taken down by a storm. After hearing of this news, Halcyon was so distraught that she threw herself into the sea. Touched, the gods decided to revive Halcyon into a kingfisher bird, where she could lay her eggs in the middle of winter near the shore safely for fourteen days.",
              "gods":"Poseidon,Hera",
              "characters":"Halcyon,Ceyx",
              "place":"Tachis",
              "theme":"Love"
           },
           {  
              "name":"Jason and the Argonauts",
              "description":"Jason was the heir of Ioclus. His half brother, Pelias, however wanted the throne for himself and was going to kill Jason. Jason was then smuggled out of the kingdom. Years later, Jason returned to the kingdom, gaining trusts from the gods Hera and Athena along the way. King Pelias then told Jason to retrieve the Golden Fleece for him, a task deemed impossible, and if he did, he would get the kingdom. Jason then built the ship Argo and recruited fifty members, called the Argonauts, and went to the Black Sea to find the Golden Fleece. After many impossibly difficult trials, Jason succeeds in finding the Golden Fleece and became the King of Ioclus.",
              "gods":"Athena,Hera",
              "characters":"Jason,Pelias,Argonauts",
              "place":"Ioclus,Black Sea",
              "theme":"Perseverance and Fate"
           },
           {  
              "name":"The Myth of King Midas",
              "description":"Midas was the king of Phrygia who was known for his wisdom but also his greed. A satyr, Silenus, was caught trespassing into the sacred rose garden of Midas. Knowing that Silenus was a follower of Dionysus, King Midas decided not to punish him. Instead, Midas was entertained by Silenus' stories of pleasure and life. Pleased, Dionysus asked Midas what he wanted most in his life. Midas then wanted everything that he touched to be turned into gold. Even after warnings from Dionysus, Midas wanted the golden touch. Dionysus then gave Midas the Midas touch, the power to turn everything he touched into gold. After a while, Midas realized his mistake and begged Dionysus to take the power away, in which Midas had to bathe in the River Paktolos to remove his power.",
              "gods":"Dionysus",
              "characters":"Midas,Silenus",
              "place":"Phyrgia,River Paktolos",
              "theme":"Greed"
           },
           {  
              "name":"The Myth of Prometheus",
              "description":"Prometheus was a Titan who didn't fight in the war between the Gods and Titans, so Zeus decided not to lock him up in Tartarus. Zeus asked Prometheus to create a man out of water and earth, and thus gave birth to the humans. Prometheus was more fond of the humans than the Gods, so he decided to steal fire for the people of Earth. To distract the Gods, Prometheus threw a golden pear (or apple) into the garden of the gods and it had the message, For the most beautiful goddess of all. While the goddesses argued to each other and other gods watched in amusement, Prometheus stole fire from Hephaestus, the god of fire, and gave it to the humans. Enraged, Zeus chained Prometheus onto Mount Caucasus, where every day an eagle would eat his liver, and the liver would grow back for the next day.",
              "gods":"Zeus,Haphaestus",
              "characters":"Prometheus",
              "place":"Mount Caucases",
              "theme":"Crime against the Gods"
           },
           {  
              "name":"The Myth of Perseus and Medusa",
              "description":"Before Perseus was born, Acrisius, the king of Argos, was told by an oracle that his grandson would kill him. His daughter Danae was therefore trapped beneath the earth so that she could not have intercourse. Zeus however, turned into golden rain, trickled inside the earth, and eventually reached Danae, who then became pregnant with Perseus. Shocked, Acrisius sent Danae and Perseus to his brother, Polydectus, who was the king of the island. Eventually, Polydectus wanted Danae to be his wife, but knowing that Perseus would not allow it, he sent Perseus into a mission to take Medusa's head. Medusa was a gorgon in which whenever anyone looked at her face, they would turn to stone. With the help of Hermes and Athena, Perseus killed Medusa and brought her head back.",
              "gods":"Zeus,Hermes,Athena",
              "characters":"Perseus,Danae,Acrisius,Polydectus,Medusa",
              "place":"Argos,Seriphos",
              "theme":"Fate and Perseverance"
           },
           {  
              "name":"The Myth of Pegasus and Bellerophontes",
              "description":"Bellerophontes was the man from Corinth who's dream was to own Pegasus, the winged horse. Bellerophontes was on a journey to find Pegasus and met Proteus, the son-in-law of the King of Lycia. Jealous, Proteus gave Bellerophontes a mail to Lycia, where he planned to have his in-law's kill Bellerophontes. Seeing the letter, the in-laws gave Bellerophontes the task of killing Chimera, a creature that is half lion and half dragon. To do this, Bellerophontes had to get Pegasus with the help of Athena, and after befriending Pegasus, they both killed the Chimera.",
              "gods":"Athena",
              "characters":"Bellerophontes,Proteus,Pegasus",
              "place":"Lycia",
              "theme":"Betrayal and Loyalty"
           },
           {  
              "name":"The Myth of Europe",
              "description":"Europe was a mortal that came from Asia. Smittened by her beauty, Zeus, the god of love affairs, decided to make her his. Zeus changed himself into a white bull and swam across the ocean to see Europe. Since the bull was so gentle, Europe decided to get on it's back, and then the bull swam to the eastern part of Crete to Diktreon Andron, the cave where Zeus was born. The cave also became Zeus and Europe's love nest, but after a while, Zeus got tired of Europe and married her off to Asterion, the king of stars. The bull symbol eventually became Taurus in the night sky.",
              "gods":"Zeus,Asterion",
              "characters":"Europe",
              "place":"Asia,Crete",
              "theme":"Love"
           },
           {  
              "name":"The Myth of Calypso and Odysseus",
              "description":"Odysseus is a warrior from the Trojan War. On his way back from Troy, his ship was hit by a storm and he drifted in the sea for nine days. Calypso fell in love with Odysseus and even though Odysseus wanted to return home, she seduced him into becoming her lover. After seven years, Zeus sent Hermes to give a message to Calypso to let Odysseus go. Reluctantly, Calypso helped build a ship for Odysseus and he finally resumed his journey back home.",
              "gods":"Calypso,Hermes,Zeus",
              "characters":"Odysseus",
              "place":"Ogygia",
              "theme":"Affair and Distraction"
           },
           {  
              "name":"The Myth of Psyche and Eros",
              "description":"Psyche was a mortal human that had such beauty that the whole world came to see her. Angered by her beauty, Aphrodite told her son Eros, to make men kill their desire of Psyche. Eros however became in love with Psyche instead and eventually and oracle told Psyche's parents that she would marry a hideous beast whose face she could not see. Psyche was only allowed to see her husband at night, but since he was so loving and caring to her, she was extremely happy. Jealous of her happiness, Psyche's sisters told her that her husband would kill her. Afraid, Psyche was ready to kill her husband with a knife and lamp before he killed her. However when Eros came in, the light from the lamp revealed the beautiful face of Eros. Surprised, Psyche spilled oil onto his face. Feeling betrayed, Eros left Psyche. Psyche then started searching for Eros, where she then pleaded to Aphrodite to reunite them. Aphrodite gave her three seemingly impossible tasks, where the last one made Aphrodite fall into eternal sleep. Finding out what happened, Eros pleaded to Zeus to save Aphrodite and seeing their love, Zeus made Psyche immortal so that the two could be together forever.",
              "gods":"Eros,Aphrodite,Zeus",
              "characters":"Psyche",
              "place":"N/A",
              "theme":"Betrayal and Love"
           },
           {  
              "name":"The Titan and Titanomachy",
              "description":"The first ruler of the Universe was Uranus and along with Gaia, they birthed the titans. The titans were the elder gods and were eventually overthrown by the new olympian gods in the Titanomachy, the war between the titans and olympians. Uranus' son, Cronos, dethroned Uranus and then Zeus, Cronos' son, dethroned him as the ruler of the universe. The war between the titans and olympians lasted for ten years on Mount Olympus and it remains to be one of the most epic myth battles today.",
              "gods":"All the Gods",
              "characters":"NA",
              "place":"Mount Olympus",
              "theme":"War"
           },
           {  
              "name":"The Curse of Cassandra",
              "description":"Cassandra was one of the princesses of Troy, and is possibly the reason why Troy was taken over. Apollo fell in love with Cassandra and wanted to gift her the power of prophecy. Cassandra however did not reciprocate Apollo's feelings and therefore Apollo became enraged. He decided to bring her misfortune by cursing her. The curse that he gave her would make no one believe her, so that when the time the Greeks came to Troy, she warned the Trojans to beware of the Greek's gifts. Oblivious to her warning, the Trojans accepted the Trojan horse, which became the downfall of Troy.",
              "gods":"Apollo",
              "characters":"Cassandra",
              "place":"Troy",
              "theme":"Love and Jealousy"
           },
           {  
              "name":"The Myth of Theseus and the Minotaur",
              "description":"Zeus sent a bull to Crete, where it made love with Pasiphae, the wife of King Minos of Crete. Embarrassed, Minos trapped the minotaur inside a labyrinth create by Daedalus, which was known to be impossible to escape. Minos' son, Androgeus went to Athens to attend the Panathenaic games, but was killed by the same bull that slept with Pasiphae. Enraged, Minos demanded that the king of Athens, Aegeus, would send seven men and women into the labyrinth each year. On the third year, Aegeus' son, Theseus, volunteered to go to the labyrinth and kill the minotaur. He told his father that when his ship comes back, if the sail is white, it would signify that he successfully returned alive, else if it was black, it meant that he failed and died trying. Adriadne, the daughter of Minos, fell in love with Theseus and gave him a thread that would allow him to go back from the labyrinth. Theseus successfully kills the minotaur and comes back from the labyrinth. Theseus takes Adriadne with him, but while on a stop at Naxos, he accidentally leaves Adriadne there. Frustrated, he then forgets to change the sail to white, and when King Aegeus sees the black sails, he throws himself into the sea and drowns. That is why the sea is now called the Aegean Sea.",
              "gods":"Zeus",
              "characters":"Minos,Pasiphae,Minotaur,Aegeus,Adriadne,Theseus,Androgeus",
              "place":"Crete,Athens",
              "theme":"Tragedy"
           },
           {  
              "name":"The Myth of Daedalus and Icarus",
              "description":"Daedalus was the inventor of the labyrinth that trapped the Minotaur. He also informed Adriadne, the daughter of Minos, to give Theseus thread so that he could escape the labyrinth. Furious by this information, King Minos trapped Daedalus and his son Icarus inside of the labyrinth. Knowing that Daedalus and his son would never escape the labyrinth by finding their way back or by escaping to the sea, his only choice left was to fly away. Daedalus then built wings and taught him and his son how to fly. On the day of their escape, Daedalus warned Icarus not to get too close to the sun or else the wings would melt off. Even with the warning, the young Icarus became too excited and went too close to the sun, melting the wings, and then falling into the sea to drown. After this event, the sea became known as the Icarian Sea.",
              "gods":"None",
              "characters":"Daedalus,Icarus,Minos",
              "place":"Crete",
              "theme":"Tragedy"
           },
           {  
              "name":"The Myth of Narcissus",
              "description":"Narcissus was the son of the River God Cephisus and nymphe Lyriope. He was born with beauty and was loved by the god Apollo because of his physique. One day, a young man, Aminias, fell in love with Narcissus and tried to court him. Narcissus however gave him a sword in reply and using that sword, Aminias killed himself, praying to the Gods for Narcissus to be punished. One day, while walking near the river, Narcissus noticed his own reflection. His reflection was so beautiful that he fell in love with himself, but knowing that he couldn't attain himself for himself, he died in sorrow.",
              "gods":"None",
              "characters":"Narcissus,Aminias",
              "place":"N/A",
              "theme":"Narcissism"
           },
           {  
              "name":"The Trojan War",
              "description":"The Trojan War started with Athena, Aphrodite, and Hera arguing against each other as to who was the most beautiful. Eris, the deity of strife, gave a golden apple to Paris, prince of Troy, and told him to give it to the most beautiful goddess. Paris chose Aphrodite and as a gift, Aphrodite promised Paris that the most beautiful wife would be sent to him. Paris went on a delegation to Sparta and met Helen, who was the most beautiful woman on the world, and she immediately fell in love with him and went back with him to Troy. This sparked a war between the Trojans and Greeks, and after ten years, Odysseus devised the Trojan horse plan. The Trojan horse masqueraded itself as a gift, but inside were Greek soldiers who left the horse in the middle of the night to slaughter the Trojans.",
              "gods":"Aphrodite,Eris,Athena,Hera",
              "characters":"Paris,Helen",
              "place":"Troy",
              "theme":"Tragedy and War"
           },
           {  
              "name":"The Myth of Orpheus and Eurydice",
              "description":"Orpheus was the son of Apollo and Calliope. Apollo gave him the lyre, in which he mastered so beautifully, that he could emotionally move any living or non-living thing. Orpheus eventually fell in love with a woman named Eurydice. One day Eurydice was in the forest and a shepherd saw her and wanted to court her. Afraid, Eurydice ran away but was bitten by a snake and died. Mournful, Eurydice despairingly played the lyre. Touched by the music, the gods offered to help Eurydice go into the Underworld to save Eurydice. Hades was also touched by his music and instructed Orpheus that the shadow of Eurydice would follow him back outside the cave, but that he could not look at her or he would lose her forever. Nearing the end of the cave, Orpheus couldn't hear Eurydice walking behind him so he believed he was being tricked by the gods. He turned around right before the exit of the cave and saw Eurydice's shadow disappear back into the Underworld. Mortified, Eurydice played the lyre to make beasts rip him apart so that he could once again reunite with Eurydice.",
              "gods":"Apollo,Hades",
              "characters":"Orpheus,Eurydice",
              "place":"Underworld",
              "theme":"Love and Tragedy"
           },
           {  
              "name":"Pandora's Box",
              "description":"Pandora was the first woman on earth who was created by Hephaestus as instructed by Zeus. She was created as a punishment to mankind since Prometheus stole fire from the Gods for the humans. The Gods gave her gifts. Aphrodite gave her beauty, Athena taught her crafts, and Hermes gave her the attributes of being deceitful, stubborn, and curious. The Gods then gave her a box, and she was given to Prometheus' brother, Epimetheus. They became married and even though she was told not to open the box, curiosity got to her and when she opened it, illnesses and hardships came out into the world. Afraid, she closed the box, leaving Hope trapped inside.",
              "gods":"Zeus,Aphrdite,Athena,Hermes,Hephaestus",
              "characters":"Pandora,Epimetheus",
              "place":"Athens",
              "theme":"Misfortune"
           }
        ]

## Location Collection [/locations]

### List All Locations [GET]

+ Response 200 (application/json)

        [  
           {  
              "name":"Arcadia",
              "altname":"Arcadia",
              "myth":"None",
              "location_type":"Wilderness",
              "gods":"Atlanta, Callisto, Pan, Hermes"
           },
           {  
              "name":"Lycia",
              "altname":"Lycia",
              "myth":"Coastal",
              "location_type":"Bellerophon",
              "gods":"Leto, Apollo, Artemis"
           },
           {  
              "name":"Island of Seriphus",
              "altname":"Seriphos",
              "myth":"Perseus",
              "location_type":"Island",
              "gods":"Perseus"
           },
           {  
              "name":"Thebes",
              "altname":"Thebes",
              "myth":"The story of Laius",
              "location_type":"City",
              "gods":"Heracles"
           },
           {  
              "name":"Caria",
              "altname":"Mount Latmus",
              "myth":"None",
              "location_type":"Mountain",
              "gods":"Endymion"
           },
           {  
              "name":"Laconia",
              "altname":"Lacedaemonia",
              "myth":"None",
              "location_type":"Island",
              "gods":"Hyacinthus"
           },
           {  
              "name":"Troy",
              "altname":"Ilion, Troia, Ilium",
              "myth":"Trojan War",
              "location_type":"City",
              "gods":"Achilles, Odysseus"
           },
           {  
              "name":"Argolis",
              "altname":"Argolid",
              "myth":"None",
              "location_type":"Peninsula",
              "gods":"Io, Perseus"
           },
           {  
              "name":"Thessaly",
              "altname":"Aeolia",
              "myth":"Golden Fleece",
              "location_type":"Plain",
              "gods":"Pandora, Odysseus, Pyrrha, Achilles"
           },
           {  
              "name":"Pisa in Elis",
              "altname":"Eleia",
              "myth":"Trojan War",
              "location_type":"Valley",
              "gods":"Pelops"
           },
           {  
              "name":"Thermodon",
              "altname":"River Thermodon",
              "myth":"Trojan War",
              "location_type":"River",
              "gods":"Penthesilea"
           },
           {  
              "name":"Cyprus",
              "altname":"Cytherea, Cypris, Cypria",
              "myth":"Aphrodite",
              "location_type":"Island",
              "gods":"Pygmalion, Aphrodite"
           },
           {  
              "name":"Troad",
              "altname":"Troas",
              "myth":"None",
              "location_type":"Peninsula",
              "gods":"Cycnus"
           },
           {  
              "name":"Argolis",
              "altname":"Argolid",
              "myth":"Myth of Io",
              "location_type":"Regional State in Greece",
              "gods":"Io, Zeus, Hera"
           },
           {  
              "name":"Aeaea",
              "altname":"Eëa",
              "myth":"The Odyssey",
              "location_type":"Island",
              "gods":"Circe, Odysseus"
           },
           {  
              "name":"Athens",
              "altname":"Athina",
              "myth":"The Myth of Theseus and the Minotaur",
              "location_type":"City",
              "gods":"Theseus,Aegeus"
           },
           {  
              "name":"Aulis",
              "altname":"Avlida",
              "myth":"Trojan War",
              "location_type":"City, Port",
              "gods":"Artemis, Agamemnon"
           },
           {  
              "name":"Calydon",
              "altname":"N/A",
              "myth":"Calydonian Boar",
              "location_type":"City",
              "gods":"Apollo, Artemis"
           },
           {  
              "name":"Colchis",
              "altname":"Colchis, Kolkhis, Qulha",
              "myth":"Jason and the Argonauts",
              "location_type":"Costal Region",
              "gods":"Jason, Athena, Hera, Argonauts"
           },
           {  
              "name":"Corinth",
              "altname":"Korinthos",
              "myth":"The Myth of Sisyphus, The Myth of Pegasus and Bellerophontes",
              "location_type":"City",
              "gods":"Sisyphus,Bellerophontes"
           },
           {  
              "name":"Crete",
              "altname":"Kaptara, Girit, Creta",
              "myth":"The Myth of Europe, The Myth of Theseus and the Minotaur",
              "location_type":"Island",
              "gods":"Zeus,Europe,Minos,Pasiphae,Minotaur,Aegeus,Adriadne,Theseus,Androgeus"
           },
           {  
              "name":"Delphi",
              "altname":"Mount Parnassus",
              "myth":"The Myth of Halcyon",
              "location_type":"Mountain",
              "gods":"Halcyon,Ceyx,Apollo"
           },
           {  
              "name":"Iolcus",
              "altname":"Iolkos,Iolcus",
              "myth":"Jason and the Argonauts",
              "location_type":"City",
              "gods":"Jason,Pelias,Athena,Hera,Argonauts"
           },
           {  
              "name":"Ithaca",
              "altname":"Ithaka",
              "myth":"The Odyssey",
              "location_type":"Island",
              "gods":"Odysseus, Poseidon"
           },
           {  
              "name":"Lerna",
              "altname":"Myloi",
              "myth":"12 Labors of Hercules: Lernaean Hydra",
              "location_type":"Lake",
              "gods":"Heracles, Hera"
           },
           {  
              "name":"Mount Olympus",
              "altname":"Olympus",
              "myth":"The Myth of Tantalus, The Titans and Titanomachy",
              "location_type":"Mountain",
              "gods":"Tantalus,Pelops,Zeus,Demeter, All the Gods"
           },
           {  
              "name":"Nemea",
              "altname":"Koutsoumadi",
              "myth":"12 Labors of Hercules: Nemean Lion",
              "location_type":"Village",
              "gods":"Heracles, Athena"
           },
           {  
              "name":"Sparta",
              "altname":"Lacedaemon",
              "myth":"N/A",
              "location_type":"City",
              "gods":"Leda, Ares, Castor, Pollux"
           },
           {  
              "name":"Tauris",
              "altname":"Crimea",
              "myth":"Myth of Iphigenia",
              "location_type":"Peninsula",
              "gods":"Artemis, Iphigenia"
           },
           {  
              "name":"The Underworld",
              "altname":"The Kingdom of the Dead",
              "myth":"The Myth of Hades and Persephone",
              "location_type":"Afterlife",
              "gods":"Hades, Persephone"
           },
           {  
              "name":"Troy",
              "altname":"Ilion, Troia, Ilium",
              "myth":"Trojan War",
              "location_type":"City",
              "gods":"Achilles, Odysseus"
           }
        ]